html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
}

section {
  background-color: #fff;
}

table {
  border: solid 1px;
  border-color: #ccc;
}

tr td {
  height: 200px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  border-color: #ccc;
}

th {
  border-bottom: solid 2px;
  border-right: solid 1px;
  border-color: #ccc;
}

span {
  display: block;
}

p {
  border: solid 1px;
  border-radius: 8px;
}

.grey {
  color: #666;
  border-color: #333;
  background-color: #f2f2f2;
}

.red {
  color: #b92828;
  border-color: #991919;
  background-color: #f2bcbc;
}

.green {
  color: #51603f;
  border-color: #6b7e54;
  background-color: #d1e0bf;
}

.blue {
  color: #38448e;
  border-color: #1d38da;
  background-color: #d2d6f0;
}
